
html, body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #b3d9ff, #e6f2ff);
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    max-width: 70%x;
    margin: 5% 20% 10% 20%;
    background: #fff;
    padding: 20px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2{

    color: #506071;
   
}
input,
button {
    padding: 10px 16px;
    margin: 10px 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #3399ff;
}

button {
    background: #3399ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #267acc;
}

.card {
    background: #f0f8ff;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
}

img {
    vertical-align: middle;
}

.forecast-day,
.forecast-interval {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

#fiveDayForecast {
    display: none;
}

.site-footer {
    background-color: #007BFF;
    /* Matches your site's blue */
    color: white;
    text-align: center;
    padding: 12px 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #0056b3;
}

.site-footer p {
    margin: 0;
}

.site-footer strong {
    font-weight: bold;
}




@media (max-width: 600px) {
    .container {
        margin: 2% 10% 4% 10%;
    }

    .site-footer {
        font-size: 13px;
    }
}
